.portfolio__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.portfolio__img-wrapper{
    border-radius: 19px;
    overflow: hidden;
    margin-top: 7px;
}
  
  .portfolio__img {
    width: 100%;
    transition: transform 0.5s;
    height: auto;
  }
  
  .portfolio__img:hover {
    transform: scale(1.2); 
  }
