.footer{
    border-top: 1px solid var(--border-color);
    padding-block: 60px;
}

.footer__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 850px;
}

.footer__socials{
    display: flex;
    column-gap: 20px;

}

.footer__socials-link {
    color: var(--title-color);
    font-size: 19px;
    transition: all 0.5s var(--transition);
}

.footer__socials-link:hover{
    color: var(--primary-color)
}

.footer__copyright{
    color: var(--title-color);
    font-size: 15px;
    font-weight: 700;
}

.footer__copyright span{
    color: var(--primary-color);
}


